<div class="santri-row">
  <div class="header-container">
    <div class="info-section">
      <div class="santri-avatar"></div>
      <div class="name-container">
        <div class="name-row">
          <h4 class="santri-name"></h4>
          <div class="badge-container"></div>
        </div>
        <div class="room-row">
          <span class="room-label"></span>
          <p class="santri-kamar"></p>
        </div>
      </div>
    </div>
    <button class="btn-edit-note">
      <i data-lucide="message-square-plus" class="w-4 h-4"></i>
    </button>
  </div>

  <div class="activity-container"></div>

  <div class="note-section hidden">
    <div class="relative">
      <input type="text" class="input-note" />
      <i
        data-lucide="edit-3"
        class="absolute right-3 top-1/2 -translate-y-1/2 w-3 h-3 text-slate-400 dark:text-slate-500"
      ></i>
    </div>
  </div>
</div>
